<header>
  <h1>Ironphones</h1>

  <nav>
    <a routerLink="/">Home</a>
    <a routerLink="/phones">Our Phones</a>

    <span *ngIf="!myAuthServ.currentUser">
      <a routerLink="/signup">Sign Up</a>
      <a routerLink="/login">Log In</a>
    </span>

    <span *ngIf="myAuthServ.currentUser">
      <b>Welcome back, {{myAuthServ.currentUser.firstName}}!</b>
      <a routerLink="/phone/add">List Your Phone</a>
      <button (click)="logoutClick()">Log Out</button>
    </span>
  </nav>
</header>

<router-outlet></router-outlet>

<footer>
  <p>Made with 📱 at Ironhack</p>
</footer>
